<ng-container *ngIf="product; else spinner">
  <div *ngIf="product.title" class="card card-block">
    <img *ngIf="product.imageUrl" class="card-img-top card-img-snap" [src]="product.imageUrl" alt="{{ product.title }} image">

    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.price | currency:'USD': true}}</p>
    </div>

    <div *ngIf="showActions && shoppingCart" class="card-footer">
      <button *ngIf="shoppingCart.qtyInCart(product) === 0; else updateQty" 
        (click)="addToCart()" 
        class="btn btn-secondary btn-block">
        Add to Cart
      </button>
      <ng-template #updateQty>
        <app-product-quantity [product]="product" [shopping-cart]="shoppingCart">
        </app-product-quantity>
      </ng-template>
    </div>
  </div>
</ng-container>

<ng-template #spinner>
  <ng-spinner [display]="true"></ng-spinner>
</ng-template>