.login-template {
    margin-block-end: 5em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    height: 50vh;
    place-content: center;
}

.google-img > img {
    padding: 20px;
    width: 200;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid #dddddd;
    border-radius: 3%;
    margin: 5px;

}