.dropdown-toggle {
    cursor: pointer;
}

.guest-user {
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.navbar {
    -webkit-box-shadow: 2px 2px 8px #7c7c7c;
    -moz-box-shadow: 2px 2px 8px #7c7c7c;
    box-shadow: 2px 2px 8px #7c7c7c;
}
