/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

button {
    letter-spacing: 0.6px;
}

#overlay {
    /* spinner background color */
    background: rgba(0, 0, 0, -1) !important; 
}